@import url("https://fonts.googleapis.com/css?family=Exo:400,700");


* {
  margin: 0;
  padding: 0;
  font-family: Exo, sans-serif;
  
}

:root {
  --primary-color: #251e3694;
  --second-color: #13171b6c;
  --third-color: #250b3d;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: black;
  font-family: Exo;
}