.obra-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 50px;
  }
  
  @media (max-width: 1220px) {
    .obra-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 870px) {
    .obra-list {
      grid-template-columns: 1fr;
    }
  }


  
  .obra-card-item,
  .obra-list-item {
    background-color: transparent;
    color: #560966;
    border: 1px solid #560966;
    border-radius: 1rem;
    padding: 10px;
    width: 315px;
    display: flex;
    box-shadow: 5px 5px 5px 5px #3e13661e;
    justify-content: space-around;
    margin: 0.5rem;
    font-weight: 600;
    font-family: "Exo";
  }
  
  .obra-card-item {
    padding: 20px;
    height: 20%;
    width: 390px;
    transition: all 0.2s ease-in-out;
  }
  
  .obra-card-item:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 430px) {
    .obra-card-item,
    .obra-list-item {
      width: 230px;
      height: 270px;
    }
  }
  
  .obra-card-item > div,
  .obra-list-item > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .obra-list-item-nome,
  .obra-card-item-nome {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 100%;
  }
  
  .obra-list-item-sinopse,
  .obra-card-item-sinopse {
    box-shadow: 5px 5px 5px 5px #3e13661e;
    font-size: 11px;
    padding: .3rem;
    height: 65%;
  }
  
  @media (max-width: 430px) {
    .obra-list-item-sinopse,
    .obra-card-item-sinopse {
      font-size: 9.5px;
    }
  }
  
  .obra-list-item-foto {
    margin: 0.6rem;
    width: 150px;
    border-radius: 12px;
    border: 2px solid rgb(0, 0, 0);
    margin-right: -50px;
    transition: .2s all ease-in-out;
  }
  
  .obra-list-item-foto:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 460px) {
    .obra-card-item-foto,
    .obra-list-item-foto {
      width: 90px;
      height: 150px;
    }
    .obra-list-item-foto {
      margin-right: -40px;
    }
  }

  .actions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .btn {
    background-color: transparent;
    padding: 0.1rem;
    font-weight: 600;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-in-out;
  }
  
  .actions-editar {
    padding: .4rem;
    border: 1px solid #6d54fd;
    color:#6d54fd;
  }
  
  .actions-editar:hover{
    background-color: #6d54fd5b;
    color: white;
  }

  .obra-list-item-badge {
    background-color: #720f8b;
    height: 10px;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: .8em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    top: -15px;
    left: -15px;
    width: 10px;
    padding: 5px;
    box-shadow: 2px 0px 15px #d52fff5b;
    transition: all ease-in-out .2s;
  }
  .obra-list-item-badge:hover {
    transform: scale(1.2);
  }